.form,
.greetings {
  display: none;
}
.showing {
  display: block;
}
.js-title {
  display: flex;
  flex-direction: row;
}

.js-title {
  display: inline-block;
  font-size: 80px;
  opacity: 0.8;
}

.js-clock i {
  opacity: 0.5;
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
  background-size: cover;
  opacity: 0.7;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  display: flex;
  flex-direction: column;
  padding-top: 5vh;
  align-items: center;
  font-family: Arial, Helvetica;
}

input {
  margin-top: 10px;
  padding: 0.8em 0.5em;
  border-radius: 10px;
  border: none;
  background-color: rgba(0, 0, 0, 0.8);
  color: rgb(255, 255, 255);
}

input:focus {
  outline: none;
  background-color: rgba(0, 0, 0, 0.7);
}

.js-lists {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}
.js-lists ul {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  padding-left: 0px;
}

.js-greetings {
  transition: all 0.5s linear;
}
.js-greetform {
  pointer-events: none;
}
.js-greetform i {
  pointer-events: auto;
}

.js-greetform:hover > .js-greetings {
  text-decoration: line-through;
  opacity: 0.8;
}

.js-lists li {
  pointer-events: none;
  transition: all 0.5s linear;
  font-size: 20px;
}

.js-lists li:hover {
  text-decoration: line-through;
  opacity: 0.8;
}

.js-lists {
  position: relative;
  display: flex;
  text-align: left;
  align-items: flex-start;
}

.js-lists i {
  pointer-events: auto;
  font-size: 15px;
}
.js-lists div {
  display: block;
  width: 20vw;
}
.js-lists h3 {
  text-align: center;
  align-items: center;
  font-size: 30px;
}

.fa-caret-right {
  margin-right: 10px;
  pointer-events: none;
}

ul {
  top: 0px;
  list-style-type: none;
}
.js-toDoList .fa-times {
  pointer-events: auto;
}

.js-greetings {
  display: inline-block;
  font-size: 50px;
}

.js-weatherform {
  position: absolute;
  display: block;
  right: 10px;
  opacity: 0.8;
  bottom: 0px;
  transition: opacity 0.5s linear;
}
.js-weatherform i {
  opacity: 0.5;
}
.js-weatherform:hover {
  opacity: 1;
}

i {
  cursor: pointer;
  margin-left: 5px;
}
.fa-times {
  opacity: 0.6;
}
.fa-undo {
  color: #8b0000;
}

.fa-check {
  color: #006400;
}
